# Supabase
SUPABASE_URL=https://qzmjhxhhgdakvsnhbsze.supabase.co
SUPABASE_KEY=
SUPABASE_PASSWORD=

# Replicate
REPLICATE_API_KEY=

# Gemini Vision
GOOGLE_API_KEY=

# JWT Secret
JWT_SECRET=

# Environment
ENVIRONMENT=development
DEBUG=true
